@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-mid: #aaa69d;
$color-dark: #444;
$color-vivid: #cc8e35;

$color-bg: #d1ccc0;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url(../images/maple.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  color: $color-mid;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 5px;

    a {
      text-decoration: none;
      color: $color-dark;
      transition: color .2s ease-in-out;

      &:hover {
        color: $color-vivid;
      }
    }
  }


  .active {
    color: $color-mid;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  //position: absolute;
  padding: 30px 20px;
  display: none;

  &.active {
    display: block;
  }
}

.post-author {
  flex: 1 0 0;
  font-style: italic;

  a {
    text-decoration: none;
    color: $color-dark;
  }
}

.post-content {
  flex: 1 0 0;
}

.post-tags {
  display: flex;
  flex: 1 0 0;

  p {
    margin: 0 10px 0 0;
    padding: 5px 0;
  }
}

.post-title {
  font-family: $font-header;
  color: $color-vivid;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  flex: 1 0 0;
}

// tags cloud
.tags {
  li {
    display: inline-block;
  }
}

.tag-size-1 {
  font-size: 24px;
}

.tag-size-2 {
  font-size: 22px;
}

.tag-size-3 {
  font-size: 20px;
}

.tag-size-4 {
  font-size: 18px;
}

.tag-size-5 {
  font-size: 16px;
}
